body {
    background-color: rgb(228, 185, 132);
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    width: 100%;
    background-image: "https://i.stack.imgur.com/1Pzpe.png";
    margin-left: auto;
    margin-right: auto;
  }
