body {
    background-image: url();
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    width: 80%;
    background-color: rgb(132, 193, 228);
    margin-left: auto;
    margin-right: auto;
  }